#head{
    text-align: center;
    font-size: 45px;
}
.fieldset{
    margin-left: 35px;
    margin-right: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}
.legend{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    /* background-color: #92C7CF; */
}
.Details{
    /* background-color:#AAD7D9 ; */
}
a:link{
    color: rgb(7, 7, 7);
}
a:visited{
    color: rgb(2, 14, 76);
}
a:active{
    color: rgb(19, 109, 142);
}
a:hover{
    background-color: rgb(208, 231, 231);
}
#href{
    margin-left: 1300px;
    border: 3px solid rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}
#body{
    background-color: #f9fbff;
}
